*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100% !important;
}

/* clearfix for clearing a div row */

.clearfix::after {
    clear: both;
}

/* clearfix for keeping a parent div with floated children from collapsing */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

/* makes ALL images resize as viewport shrinks */

img {
	height: auto;
	max-width: 100%;
    display: block;
}

.container {
    margin: 0 auto;
    max-width: 64rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*.body-background {
    background-color: #f0f0f0; 
    background: #a7ce02;
    background-image: url('/assets/images/gradient_clear.png');
    background-repeat: repeat-x;
    position: relative;
    min-height: 400px;
}*/

.body-background {
    height: 100%;
    background: #00ff00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00ff00, #fe9900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00ff00, #fe9900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00ff00, #fe9900); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00ff00, #fe9900); /* Standard syntax (must be last) */
    background: linear-gradient(#00ff00, #fe9900); /* Standard syntax (must be last) */
    min-height: 740px;
}

#scrollArea {
    height: 100%;
    overflow: auto;
}

#top {
    display: block;
    margin-top: 0;
}

.left-div {
    position: relative; 
    /*display: inline-block;
    margin-right: -4px;*/
   /* padding-left: 2rem; 
    padding-right: 2rem; */
    padding-bottom: .5rem;
    padding-top: 1rem;
    /*width: 50%; */
    /*height: 25rem;*/
}

.left-div-image {
    margin: 0;
}

.new-releases {
    position: relative;
    margin: 0;
    padding-top 1rem;
    margin-top: 1rem;
    padding-left: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    /*text-transform: uppercase;*/
}

.anchor {
    text-decoration: none !important;
}

.band-name {
   font-size: 21px;    
   text-align: center; 
   text-decoration: none;
   color: #000000;    
   font-weight: 700;
}

.buy-listen {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.buy-listen a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.buy-listen a:hover {
    text-decoration: none !important;
    color: white;
}

.buy-listen a:visited {
    text-decoration: none;
    color: white;
}

.band-name a {
    text-decoration: none;
    color: black;
}

.band-name a:hover {
    text-decoration: none !important;
    color: black;
}

.band-name a:visited {
    text-decoration: none;
    color: black;
} 

body {
   /* background-color: #ff33ff; */
   font-family: 'Work Sans', sans-serif;
   font-weight: 400;
   color: #000000;    
}

.nav-margin-spacer {
    position: relative;
    margin-top: 0;
}

/* HOVER TRANSITION */

.show-info {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;
}

.show-info img {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.show-info:hover > .overlay {
    opacity: 1;
    width: 100%;
    height: 100% height:auto;
    display: block;
    /*background: rgba(255, 255, 255, 0.4);*/
    background: rgba(34, 34, 34, 0.4);
}

.band-name-hover-band {
   text-align: center; 
   color: white;  
   margin-top: 40%;
}

.band-name-hover-album {
   text-align: center; 
   color: white; 
}

/* END HOVER TRANSITION */

/* MAIN NAV */

.nav {
    position: relative;
    background-color: #ff33ff;
    width: 100%;
    font-weight: 700;
}

.nav-container {
    position: relative;
    /*padding-left: 8%;*/
    padding-top: .5rem;
    font-weight: bolder;
    text-align: center;
}

 .nav .nav-logo {
   display: inline-block;
   margin: 0 !important;      
}

.nav .small-nav-logo {
    float: left; 
}

.large-logo {
    display: block;
    vertical-align: top !important;
}

.nav .small-nav-logo .small-logo {
    display: none;
}

.nav .container ul {
   list-style-type: none;
    margin: 0 !important;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 3.5rem;
    width: 332px;
}

.nav .container li {
    display: inline-block;
    float: left;
    font-size: 24px;
    font-weight: 700;
    padding-right: 3rem;
}

.nav .container a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nav .container a:visited {
    text-decoration: none;
    color: black;
}

.nav .container li a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nav .container li a:visited {
    text-decoration: none;
    color: black;
}

.nav .container li a:hover {
    background: none;
} 

.ion-navicon-round {
    position: absolute;
    top: 0rem;
    right: 1.5rem; 
    font-size: 35px;
    color: black;
    cursor: pointer;
    display: none;
    padding-top: 1rem;
}

.ion-social-instagram {
    position: absolute;
    top: 0rem;
    right: 4.5rem;
    font-size: 35px;
    color: black;
    cursor: pointer;
    display: none;
}

.ion-social-twitter {
    position: absolute;
    top: 0rem;
   /* right: 7rem; original */ 
    right: 7.3rem;
    font-size: 35px;
    color: black;
    cursor: pointer;
    display: none;
}

.ion-social-facebook {
    position: absolute;
    top: 0rem;
    /* right: 10rem; original*/
    right: 10.6rem;
    font-size: 35px;
    color: black;
    cursor: pointer;
    display: none; 
}

/* END MAIN NAV */

/* CAROUSEL */

.carousel {
    min-height: 100px;
  /* position: relative;
    margin-top: 0; */
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.glyphicon-chevron-left:before {
    font-size: 50px;
}

.glyphicon-chevron-right:before {
    font-size: 50px;
}

.carousel-indicators {
    display: none;
} 

.carousel-caption {
    text-align: left;
}

.carousel-title {
    font-weight: 700;
   /* font-size: 36px; */
}

.carousel-text {
    font-weight: 400;
   /* font-size: 30px; */
    display: none;
}

/* END CAROUSEL */

/* EMAIL SIGNUP */

.email-signup {
    position: relative;
    padding-top: .7rem;
    padding-bottom: .7rem;
    background-color: black;
}

.email-container {
    position: relative;
}

.email-div-left {
   /* position: relative;
    display: inline-block;
    width: 50%;
    margin-right: -4px; */
    padding-top: .2rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    color: white;
    width: 350px;
    margin: auto;
    
}

.email-div-right {
  /*  position: relative;
    display: inline-block;
    width: 50%;
    margin-right: -4px; */
    padding-left: 1.5rem;
    width: 350px;
    margin: auto;
    
}

.newsletter-copy {
    margin:0;
    padding-top: .3rem;
    font-size: 22px;
    font-weight: 700;
}

.input {
    border-radius: 0;
    padding-left: 1rem;
    width: 260px;
    outline-width: 0;
    border: 1px solid white;
    height: 2rem;
    font-size: 18px;
    /*color: #dedede;*/
    color: #999;
}

.add-email {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    background-color: white;
    padding: 0px 0px;
    width: 47px;
    height: 32px;
    cursor: pointer;
    border: none; 
}

.add-email a:hover {
    text-decoration: none !important;
}

.ion-ios-arrow-forward {
    text-decoration: none !important;
    color: white;
}

.ion-ios-arrow-forward {
    margin: 0;
    color: #ff33ff;
    font-weight: 900;
    font-size: 26px;
}

/* END EMAIL SIGNUP */

/* FOOTER */

.footer {
    position: relative;
   /* padding-left: 15%; */
    padding-top: 4rem;
    text-align: center;
}

.footer .footer-style ul {
    list-style-type: none;
    margin: 0 !important;
    overflow: hidden;
    display: inline-block;
    padding: 0;
}

.footer .footer-style li {
    float: left;
    font-size: 18px;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: 1px solid #000000;
    cursor: pointer;
}

.footer .footer-style a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.footer .footer-style a:visited {
    text-decoration: none;
    color: #000000;
}

.footer .footer-style li a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.footer .footer-style li a:visited {
    text-decoration: none;
    color: #000000;
}

.footer .footer-style li a:hover {
    background: none;
}

.copyright {
    /*padding-left: 25%;*/
    margin-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    font-size: 16px;
}

/* END FOOTER */

/* RELEASE PAGE */

.release-div {
    position: relative; 
    padding-bottom: 0rem;
    padding-top: 2rem;
}

.search-container {
    position: relative;
    width: 80%;
    margin-left: 1.8rem;
    margin-top: 2rem;
}

.search-input {
    width: 94%;
    position: relative;
    display: inline-block;
    border-radius: 0;
    outline-width: 0;
    padding-left: .5rem;
    border-top: 1px solid #ff33ff;
    border-left: 1px solid #ff33ff;
    border-bottom: 1px solid #ff33ff;
    border-right: none;
    height: 2.5rem;
    font-size: 18px;
    color: #ff33ff;
}

.magnifying-glass {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: .2rem;
    padding-left: .6rem;
    width: 40px;
    height: 2.5rem;
    font-size: 28px;
    color: white;
    background-color: #ff33ff;
}

.magnifying-glass-two {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: .2rem;
    padding-left: .6rem;
    width: 40px;
    height: 2.5rem;
    font-size: 28px;
    color: white;
    background-color: #ff33ff;
}

.release-album-info {
   display: none;  
}

.to-top-container {
    display: none;
    position: fixed;
    bottom: 3rem; 
    margin-left: -188px;
    width: 200px;
}

.search-input-small {
    /*width: 82%;*/
    width: 160px;
    position: relative;
    display: inline-block;
    border-radius: 0;
    outline-width: 0;
    padding-left: .5rem;
    border-top: 1px solid #ff33ff;
    border-left: 1px solid #ff33ff;
    border-bottom: 1px solid #ff33ff;
    border-right: none;
    height: 2.5rem;
    font-size: 18px;
    color: #ff33ff;
}

.to-top-button {
    width: 200px;
    height: 2.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 1.2rem;
    font-size: 20px;
    background-color: white;
    border: 1px solid #ff33ff;
    color: #ff33ff;
    outline-width: 0;
}

.ion-arrow-up-a {
    font-size: 22px;
    margin-left: .5rem;
}

/* END RELEASE PAGE */

/* ALBUM PAGES */

.album-div-left {
    position: relative;
    padding-left: 2.6rem;
    padding-bottom: 0rem;
    padding-top: 2.8rem;
    min-height: 15rem;
}

.album-page-cover {
        /*margin: auto;*/
        display: none;
    }

.album-div-top {
    position: relative;
   /* float: left; */
    width: 100%; 
    padding-left: 2.6rem;
    padding-top: 1rem;
}

.album-table {
    position: relative;
   /* float: left;
    width: 20%; */
    margin-top: 1rem;
    padding-left: 2.6rem;
    padding-bottom: 20px;
    min-height: 5rem;
}

.album-div-right {
    position: relative;
   /* float: left;
    width: 30%; */
}

.button-buy {
    float: left;
    clear: left;
    /*position: relative;
    display: block;*/
    border: none;
    width: 12rem;
    height: 70px;
    background-color: #ff33ff;
    color: black;
    font-size: 28px;
    text-align: center;
    padding: 1rem 0rem;
    margin-left: 2.5rem;
    text-decoration: none !important;
    font-weight: 500;
    border-radius: .2rem;
}

.button-buy:visited {
    text-decoration: none;
    color: black;
}

.button-buy:hover {
    text-decoration: none;
    background-color: black;
    color: #ff33ff;
}

.album-title {
    width: 100%;
    margin-bottom: .5rem;
    font-weight: 500;
    font-size: 34px;
}

.by-wrapper {
    width: 100%;
    display: inline-block;
}

.album-band {
    width: 90%;
    margin-top: .8rem;
    float: left;
    /*position: relative;*/
    display: inline-block;
    margin: 0;
    margin-left: 1.2rem;
    font-weight: 500;
    font-size: 26px;
}

.by-artist {
    /*position: relative;*/
    float: left;
    padding-top: 8px;
    margin: 0;
    margin-right: -20px;
    display: inline-block;
   /* position: absolute; 
    top: 90px; */
    font-weight: 700;
}
 
.song-list {
    width: 95%;
    border-collapse: collapse;
    font-weight: 400;
}

.song-num {
    width: 1.5rem;
    padding-top: .4rem;
    padding-bottom: 0rem;
    font-size: 16px;
}

.song-title {
    padding-top: .4rem;
    padding-bottom: 0rem;
    font-size: 16px;
}

.release-info {
    float:left;
    clear: both;
    padding: 1.8rem;
    margin-top: .2rem;
    /*margin-bottom: 1rem;*/
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
}

.album-bottom-image {
    position: relative;
    display: block;
    text-align: center;
    /*padding-left: 1.8rem;*/
    padding-left: 0;
}

#bandcamp {
    border: 0; 
    width: 80%; 
    height: 120px; 
    margin: auto;
    margin-top: 2.2rem;
    margin-bottom: 0rem;
}

/* END ALBUM PAGES */

/* NEWS PAGE */

.news-left {
    position: relative;
   /* float: left; */
   /* width: 60%; */
    padding-top: 2rem;   
  /*  padding: 2rem 2rem; */
}

.news-date {
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    font-size: 30px;
    margin: 0;
}

.news-headline {
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    font-size: 30px; 
    margin: 0;
    margin: 1rem 0;
    
}

.news-news {
   padding-left: 2rem; 
   padding-right: 2rem;
   margin: 0; 
   font-size: 16px;
}

.news-image {
    position: relative;
    margin: auto;
    text-align: center;
   /* float: left; */
   /* width: 40%; */
    padding-top: 2rem;
    width: 100%;
 /*   padding-left: 2rem; */
}

.news-image-image {
    margin: auto;
    width: 100%;
}

.news-bottom {
    position: relative;
   /* float: left; */
    clear: both;
    min-height 5px;
   /* width: 90%; */
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    /*padding: .5rem;*/
    margin: 0% 5%;
    border-bottom: 1.5px solid #000000;
}

/* END NEWS PAGE */

/* CONTACT PAGE */

.contact-div {
    position: relative;
    width: 100%;
    padding-left: 2rem !important;
    padding-top: 2.6rem;
    padding-right: 3.2rem !important;
    padding-bottom: 1rem;
    font-size: 16px;
}

.contact-email {
    color: #ff33ff;
    text-decoration: none;
}

.contact-email:visited {
    color: #ff33ff;
    text-decoration: none;
}

.contact-email:hover {
    color: #ff33ff;
    text-decoration: none;
}

/* END CONTACT PAGE */

/* ADMIN PAGE */

.admin-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
}

.admin-button {
    display: block;
    text-decoration: none;
    border: none;
    position: relative;
    margin-top: 1rem;
    background-color: #ff33ff;
    color: white;
    outline: none; 
    padding: .5rem;
    font-size: 16px;
}

.admin-button:active {
    display: block;
    text-decoration: none;
    border: none;
    position: relative;
    margin-top: 1rem;
    background-color: black;
    color: white;
    outline: none;
    padding: .5rem;
    font-size: 16px;
}

.admin-h1 {
    color: #484848;
}

.admin-p {
    display: inline-block;
    color: #484848;
    font-size: 20px;
    width: 8%;
}

.admin-delete-title {
    display: inline-block;
    color: #484848;
    font-size: 20px;
}

.admin-delete-button {
    display: inline-block;
    color: #484848;
    font-size: 20px;
    margin-right: 1rem;
    color: red;
}

.ion-close-circled:hover {
    color: red;
}

.admin-input {
    display: inline-block;
    border-radius: 0;
    padding-left: .5rem;
    width: 60%;
    border: 1px solid #cbcbcb;
    height: 2rem;
    font-size: 18px;
    color: #999;
}

.textarea {
    display: inline-block;
    border-radius: 0;
    padding-left: .5rem;
    width: 60%;
    border: 1px solid #cbcbcb;
    font-size: 18px;
    color: #999;
}

.nav-tabs {
    color: #484848;
    font-size: 28px;
    font-weight: 500;
    background-color: white;
    margin-top: 3rem;
    border-bottom: none;
}

.priority {
    position: relative;
    display: inline-block;
    width: 40%;
}

.priority .select {
    background: transparent;
    border: none;
    width: 20%;
}

.priority.slate select {
    border: none;
    background-color: #f0f0f0;
    height: 2rem;
    color: #484848;
    font-size: 18px;
    outline-width: 0;
}

/* END ADMIN PAGE */

/* MEDIA QUERIES */

@media (min-width: 995px) {
    .email-div-left {
        float: left;
        padding-left: 19.5%;
        padding-bottom: 0;
        width: 50%;
    }
    
    .email-div-right {
        float: left;
        width: 50%;
        padding-left: 0;
        margin: 0;
    } 
    
    .input {
        width: 60%;
    }
    
    .new-releases {
        padding-left: 1rem;
    }
        
    .carousel-text {
        display: inline-block;
        font-size: 30px;
    }
    
    .carousel-title {
        display: inline-block;
        font-weight: 700;
        font-size: 36px;
    }

}

@media (min-width: 640px) and (max-width: 994px) {
    
    .carousel-text {
        display: inline-block;
        font-size: 26px;  
    }
    
    .carousel-title {
        display: inline-block;
        font-weight: 700;
        font-size: 33px;
    }
   
}

@media (min-width: 810px) {
    
    .album-div-left {
        float: left;
        width: 46%; 
        display: inline-block;
    } 
    
    .album-page-cover {
        margin: 0;
    }
    
    .album-div-top {
        float: left;
        width: 50%;
    } 
        
    .album-table {
        float: left;
        clear: right;
        width: 50%; 
        padding-bottom: 0px;
    }
    
    .album-div-right {
        float: left;
        clear: both;
        padding-left: 1.6rem;
        width: 100%;
    } 
    
    .album-page-cover {
        margin: 0;
    }
    
    .button-listen {
        margin-top: 3%;
        display: inline-block;
    }
    
    .button-buy {
        margin-top: 1.8rem;
        
    } 
    
    .release-info {
        margin-bottom: .2rem;
    }
    
    #bandcamp {
        border: 0; 
        width: 100%; 
        height: 120px; 
        float: left; 
        margin-top: 2.2rem;
        margin-bottom: .5rem;
    }
    
    .album-page-cover {
        margin: auto;
        display: block;
    }

}

@media (min-width: 320px) and (max-width: 990px) {
    
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
    }
    
    .nav-margin-spacer {
        margin-top: 66px;
    }
    
    .nav-logo {
        display: none;
    }
    
    .large-logo {
        display: none;
    }
    
    .ion-social-twitter {
        display: none;
    }
    
    .ion-social-facebook {
        display: none;
    }
    
    .ion-social-instagram {
        display: none;
    }
    
    .ion-navicon-round {
        display: inline-block;
        padding-top: .7rem;
    }
    
    .small-logo {
        float: left;
        display: inline-block;
        width: 60px;
    }
    
    .nav-container {
        height: 66px;
        padding-left: 2rem;
        padding-top: 2rem;
        width: 100%;
    }
    
    #news-top {
        display: none;
    }
    
    #shop {
        display: none;
    }
    
    #contact-top {
        display: none;
    }
    
    #releases-top {
       display: none;
    }
 
}

@media (min-width: 640px) and (max-width: 1430px) {
    
    .to-top-container {
        display: none;
        position: fixed;
        margin-left: 0rem;
        padding-left: 1.2rem;  
        padding-top: 1rem;
        bottom: 0; 
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        background-color: #fd9a00;
    }
    
    .to-top-button {
        width: 100px;
        margin-right: .9rem;
        position: relative;
        display: inline-block;
    }
    
    .search-input-small {
        width: 50%;
    }
    
    .magnifying-glass-two {
        margin-top: 1px;
    }
    
}

@media (min-width: 640px) and (max-width: 809px) {
    
    .album-div-top {
        padding-top: 0rem;
    }
    
    .album-div-left {
        padding-top: 0;
        min-height: 6rem;
    }
    
    #bandcamp {
        border: 0; 
        width: 90%; 
        height: 120px; 
   
    }

}

@media (min-width: 640px) {
    
    .column {
        float: left;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .column.half { width: 50%; }
    .column.news-text { width: 60%; }
    .column.news-image-res { width: 40%; }
    .column.new-bottom-res { width: 90%; }
    
    .news-image-image {
        margin: 0;
    }
    
    .news-date {
        padding-left: 0;
        padding-right: 0;
    }
    
    .news-headline {
        padding-left: 0;
        padding-right: 0;
    }
    
    .news-news {
        padding-left: 0;
        padding-right: 0;
    }  
    
    .search-input {
        width: 50%;
    }
    
}

@media (min-width: 325px) and (max-width: 639px) {
    
    .left-div-image {
        margin: auto;
    }
    
    .overlay {
        opacity: 0;
    }
    
    .show-info:hover > .overlay {
        background: rgba(255, 255, 255, 0);   
    }
    
    .news-left {
      padding-bottom: 0rem; 
    }
    
    .album-page-cover{
        display: none;
    }
    
    .album-div-left {
        padding-top: 0;
        min-height: 6rem;
    }
    
    #bandcamp {
        border: 0; 
        width: 90%;
        height: 120px; 
   
    }
    
    .album-div-top {
        padding-top: 0rem;
    }
    
    .release-album-info {
        display: block;
        font-size: 18px;    
        text-align: center; 
        text-decoration: none;
        color: #000000;    
        font-weight: 500;   
    }

    .release-album-info a {
        text-decoration: none;
        color: black;
    }

    .release-album-info a:hover {
        text-decoration: none !important;
        color: black;
    }

    .release-album-info a:visited {
        text-decoration: none;
        color: black;
    } 
    
   .to-top-container {
        display: none;
        position: fixed;
        margin-left: 0rem;
        padding-left: 1.2rem;  
        padding-top: 1rem;
        bottom: 0; 
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        background-color: #fd9a00;
    }
    
    .to-top-button {
        width: 100px;
        margin-right: .9rem;
        position: relative;
        display: inline-block;
    }
    
    .search-input-small {
        width: 50%;
    }
    
    .magnifying-glass-two {
        margin-top: 1px;
        margin-left: 0px;
    }
 
}

@media (min-width: 325px) and (max-width: 510px) {
    .footer-home {
       /* margin-left: 13%; */
    }
    
    .footer-releases {
         border-right:none !important;
    }
    
    .footer-shop {
        clear: left;
      /* margin-left: 29%; */
        margin-left: 17%;
        margin-top: .5rem;
    }
    
    .footer-contact {
        margin-top: .5rem;    
    }
    
    .album-div-left {
        padding-top: 0;
        min-height: 6rem;
        padding-left: 0;
    }
    
      #bandcamp {
        border: 0; 
        width: 90%; 
        margin-left: 5%;
        height: 120px; 
    }
    
    .album-div-top {
        padding-top: 0rem;
        padding-left: 1.8rem;
    }
    
    .album-table {
        padding-left: 1.8rem;
    }
    
    .button-buy {
        margin-left: 25%;
    }

}

@media (min-width: 320px) and (max-width: 324px) {
    .email-div-left {
        padding-top: .2rem;
        padding-bottom: .2rem;
        padding-left: 1.5rem;
        color: white;
        width: 320px;
        margin: auto;
        font-size: 14px;
    }

    .email-div-right {
        padding-left: 1.5rem;
        width: 320px;
        margin: auto;
        font-size: 16px; 
    }
    
    .newsletter-copy {
        font-size: 20px;
    }
    
    .carousel-title {
        font-size: 22px;
    }
    
    .input {
        width: 220px;
    }
    
    .footer-home {
      /*  margin-left: 5%; */
    }
    
    .footer-releases {
         border-right:none !important;
    }
    
    .footer-shop {
        clear: left;
        /* margin-left: 20%; */
        margin-left: 17%;
        margin-top: .5rem;    
    }
    
    .footer-contact {
        margin-top: .5rem;    
    }
    
    .footer .footer-style li {
        font-size: 16px;

    }
    
      .left-div-image {
        margin: auto;
    }
    
    .overlay {
        opacity: 0;
    }
    
    .show-info:hover > .overlay {
        background: rgba(255, 255, 255, 0);   
    }
    
    .news-left {
      padding-bottom: 0rem; 
    }
    
    .album-page-cover {
        display: none;
    }
    
    .album-div-left {
        padding-top: 0;
        min-height: 6rem;
        padding-left: 0;
    }
    
    #bandcamp {
        border: 0; 
        width: 90%; 
        margin-left: 5%;
        height: 120px; 
    }
    
     .album-div-top {
        padding-top: 0rem;
        padding-left: 1.8rem;
    }
    
    .album-table {
        padding-left: 1.8rem;
    }
    
    .release-album-info {
        display: block;
        font-size: 18px;    
        text-align: center; 
        text-decoration: none;
        color: #000000;    
        font-weight: 500;   
    }

    .release-album-info a {
        text-decoration: none;
        color: black;
    }

    .release-album-info a:hover {
        text-decoration: none !important;
        color: black;
    }

    .release-album-info a:visited {
        text-decoration: none;
        color: black;
    } 
    
    .search-container {
        margin-left: 1.2rem;
    }
    
    .to-top-container {
        display: none;
        position: fixed;
        margin-left: 0rem;
        padding-left: 1.2rem;  
        padding-top: 1rem;
        bottom: 0; 
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        background-color: #fd9a00;
    }
    
    .to-top-button {
        width: 100px;
        margin-right: .9rem;
        position: relative;
        display: inline-block;
    }
    
    .search-input-small {
        width: 40%;
        font-size:16px;
    }
    
     .button-buy {
        margin-left: 20%;
    }
    
    .ion-arrow-up-a {
        display: none;
    }
    
    .search-input-small {
        top: -2px;
    }
    
}
/* END MEDIA QUERIES */