*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100% !important;
}

/* clearfix for clearing a div row */

.clearfix::after {
    clear: both;
}

/* clearfix for keeping a parent div with floated children from collapsing */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

/* makes ALL images resize as viewport shrinks */

img {
	height: auto;
	max-width: 100%;
    display: block;
}

.container {
    margin: 0 auto;
    max-width: 64rem;
    background-color: green;
}

.body-background {
    background-color: purple;
    position: relative;
    min-height: 400px;
}

.body-container {
    
}

#scrollArea {
    height: 100%;
    overflow: auto;
}

#top {
    display: block;
    margin-top: 0;
}

/* MAIN NAV */

.nav {
    position: relative;
    background-color: orange;
}

.nav-container {
    padding-left: 7%;
    padding-top: .5rem;
    padding-bottom: 0rem;
    font-size: 30px;
    font-weight: bold;
}

.nav .nav-logo {
    display: inline-block;
    margin: 0;
}

.nav .container ul {
    list-style-type: none;
    margin: 0 !important;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 3.5rem;
}

.nav .container li {
    float: left;
    font-size: 21px;
    padding-right: 3rem;
}

.nav .container a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nav .container a:visited {
    text-decoration: none;
    color: black;
}

.nav .container li a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nav .container li a:visited {
    text-decoration: none;
    color: black;
}

.nav .container li a:hover {
    background: none;
}

/* END MAIN NAV */

/* CAROUSEL */

.carousel {
    min-height: 100px;
    position: relative;
}

/* END CAROUSEL */

/* EMAIL SIGNUP */

.email-signup {
    position: relative;
    padding-top: .4rem;
    padding-bottom: .4rem;
    background-color: orange;
}

.email-container {
    position: relative;
}

.email-div-left {
    position: relative;
    display: inline-block;
    width: 48%;
    padding-left:18%;
    padding-top: .2rem;
    color: white;
    background-color: black;
    
}

.email-div-right {
    position: relative;
    display: inline-block;
    width: 48%;
    background-color: black;
}

.newsletter-copy {
    margin: 0;
}

.input {
    padding-left: 1rem;
    width: 60%;
    border: none;
    height: 2rem;
    font-size: 18px;
    color: #dedede;
}

.add-email {
    position: relative;
    top: .1rem;
    margin-left: -5px;
    font-size: 24px;
    background-color: #666;
    color: white;
    padding: 2px 18px;
    cursor: pointer;
}

/* EMAIL SIGNUP */

/* FOOTER */

.footer {
    position: relative;
    padding-left: 15%;
    padding-top: 4rem;
    background-color: grey;
}

.footer .footer-style ul {
    list-style-type: none;
    margin: 0 !important;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 0rem;
}

.footer .footer-style li {
    float: left;
    font-size: 18px;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: 1px solid black;
    cursor: pointer;
}

.footer .footer-style a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.footer .footer-style a:visited {
    text-decoration: none;
    color: black;
}

.footer .footer-style li a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.footer .footer-style li a:visited {
    text-decoration: none;
    color: black;
}

.footer .footer-style li a:hover {
    background: none;
}

.copyright {
    padding-left: 25%;
}

/* END FOOTER */