<section class="container">
    <uib-tabset active="active">
        <uib-tab index="0" heading="Add Album">
            <section class="admin-section">
                <div class="add-albums-admin">
                    <p class="admin-p">image</p> 
                    <input type="text" class="admin-input" ng-model="image" ng-init="image='/assets/images/albums/'"><br>
                    <p class="admin-p">band</p> 
                    <input type="text" class="admin-input" ng-model="band" ng-init="band='band name'"><br>
                    <p class="admin-p">title</p> 
                    <input type="text" class="admin-input" ng-model="title" ng-init="title='album title'"><br>
                    <p class="admin-p">both</p> 
                    <input type="text" class="admin-input" ng-model="both" ng-init="both='band name - album title'"><br>
                    <p class="admin-p">url</p> 
                    <input type="text" class="admin-input" ng-model="url" ng-init="url='band-name-album-title'"><br>
                    <p class="admin-p">iframe</p> 
                    <input type="text" class="admin-input" ng-model="iframe" ng-init="iframe='iframe url'"><br>
                    <p class="admin-p">buy</p> 
                    <input type="text" class="admin-input" ng-model="buy" ng-init="buy='buy link'"><br>
                    <p class="admin-p">info</p> 
                    <input type="text" class="admin-input" ng-model="info" ng-init="info='album description'"><br>
                    <p class="admin-p">bottom</p> 
                    <input type="text" class="admin-input" ng-model="bottom" ng-init="bottom='/assets/images/album_bottom/'"><br>
                    <p class="admin-p">song 1</p> 
                    <input type="text" class="admin-input" ng-model="songOne"><br>
                    <p class="admin-p">song 2</p> 
                    <input type="text" class="admin-input" ng-model="songTwo"><br>
                    <p class="admin-p">song 3</p> 
                    <input type="text" class="admin-input" ng-model="songThree"><br>
                    <p class="admin-p">song 4</p> 
                    <input type="text" class="admin-input" ng-model="songFour"><br>
                    <p class="admin-p">song 5</p> 
                    <input type="text" class="admin-input" ng-model="songFive"><br>
                    <p class="admin-p">song 6</p> 
                    <input type="text" class="admin-input" ng-model="songSix"><br>
                    <p class="admin-p">song 7</p> 
                    <input type="text" class="admin-input" ng-model="songSeven"><br>
                    <p class="admin-p">song 8</p> 
                    <input type="text" class="admin-input" ng-model="songEight"><br>
                    <p class="admin-p">song 9</p> 
                    <input type="text" class="admin-input" ng-model="songNine"><br>
                    <p class="admin-p">song 10</p> 
                    <input type="text" class="admin-input" ng-model="songTen"><br>
                    <p class="admin-p">song 11</p> 
                    <input type="text" class="admin-input" ng-model="songEleven"><br>
                    <p class="admin-p">song 12</p> 
                    <input type="text" class="admin-input" ng-model="songTwelve"><br>
                    <p class="admin-p">song 13</p> 
                    <input type="text" class="admin-input" ng-model="songThirteen"><br>
                    <p class="admin-p">song 14</p> 
                    <input type="text" class="admin-input" ng-model="songFourteen"><br>
                    <p class="admin-p">song 15</p> 
                    <input type="text" class="admin-input" ng-model="songFifteen"><br>
                    <p class="admin-p">song 16</p> 
                    <input type="text" class="admin-input" ng-model="songSixteen"><br>
                    <p class="admin-p">song 17</p> 
                    <input type="text" class="admin-input" ng-model="songSeventeen"><br>
                    <p class="admin-p">song 18</p> 
                    <input type="text" class="admin-input" ng-model="songEighteen"><br>
                    <p class="admin-p">song 19</p> 
                    <input type="text" class="admin-input" ng-model="songNineteen"><br>
                    <p class="admin-p">song 20</p> 
                    <input type="text" class="admin-input" ng-model="songTwenty">
                    <button class="admin-button" ng-click="admin.albums.addAlbum(image, band, title, both, url, buy, info, bottom, iframe, songOne, songTwo, songThree, songFour, songFive, songSix, songSeven, songEight, songNine, songTen, songEleven, songTwelve, songThirteen, songFourteen, songFifteen, songSixteen, songSeventeen, songEighteen, songNineteen, songTwenty)">Add Album</button>
                </div>
                <h1 class="admin-h1">Delete Album</h1>
                <div class="delete-admin" ng-repeat="album in admin.albums.albums | orderBy:'index':reverse=true">
                    <a class="admin-delete-button" ng-click="admin.albums.deleteConfirm(album)">    
                        <span class="ion-close-circled"></span>
                    </a> 
                    <div class="admin-delete-title" ng-class-even="'row-color'">{{ album.both }}</div>
                </div>     
            </section>
        </uib-tab>
        <uib-tab index="1" heading="Add News">
            <section class="admin-section">
                <div class="add-news-admin">
                    <p class="admin-p">headline</p> 
                    <input type="text" class="admin-input" ng-model="headline"><br> 
                    <p class="admin-p" style="vertical-align:top;">copy</p> 
                    <textarea class="textarea" type="text" ng-model="copy" rows="10" cols="85"></textarea><br>
                    <p class="admin-p">image</p> 
                    <input type="text" class="admin-input" ng-model="newsImage" ng-init="newsImage='/assets/images/news/...Leave blank for default image'">
                    <button class="admin-button" ng-click="admin.news.sendReturnNews(headline, copy, newsImage)">Add News</button>
                </div>
                <h1 class="admin-h1">Delete News</h1>
                <div class="delete-admin" ng-repeat="newsItem in admin.news.news | orderBy:'index':reverse=true">
                     <a class="admin-delete-button" ng-click="admin.news.deleteConfirm(newsItem)">
                        <span class="ion-close-circled"></span>
                    </a> 
                    <div class="admin-delete-title" ng-class-even="'row-color'">{{ newsItem.headline }}</div>
                </div>     
            </section>
        </uib-tab>
        <uib-tab index="2" heading="Add Carousel">
            <section class="admin-section">
                <div class="add-carousl-admin">
                    <p class="admin-p">headline</p> 
                    <input type="text" class="admin-input" ng-model="carTitle"><br>
                    <p class="admin-p">copy</p> 
                    <input type="text" class="admin-input" ng-model="carText"><br>
                    <p class="admin-p">url</p>
                    <input type="text" class="admin-input" ng-model="carUrl"><br>
                    <p class="admin-p">image</p> 
                    <input type="text" class="admin-input" ng-model="carImage" ng-init="carImage='/assets/images/carousel/'"><br>
                    <p class="admin-p">album</p>
                    <div class="priority slate">
                    <select ng-model="carIndex">
                        <option value="">select album</option>
                        <option value="{{ album.index }}" ng-repeat="album in admin.albums.albums | orderBy:'index':reverse=true">{{ album.both }}</option><br>
                     </select>
                    </div>    
                <button class="admin-button" ng-click="admin.carousel.addCarousel(carTitle, carText, carImage, carIndex)">Add Carousel</button>
                </div>
                <h1 class="admin-h1">Delete Carousel</h1>
                <div class="delete-admin" ng-repeat="carousels in admin.carousel.carousel | orderBy:'index':reverse=true">
                    <a class="admin-delete-button" ng-click="admin.carousel.deleteConfirm(carousels)">    
                    <span class="ion-close-circled"></span>
                    </a> 
                <div class="admin-delete-title" ng-class-even="'row-color'">{{ carousels.title }}</div>
                </div>     
            </section>
        </uib-tab>
    </uib-tabset>
</section> <!-- end container -->