<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a ui-sref="news">
                    NEWS
                </a>
            </li>
            <li class="sidebar-brand">
                <a ui-sref="releases">
                    RELEASES
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="https://grabbingclouds.bandcamp.com/merch" target="_blank">
                    SHOP
                </a>
            </li>
            <li class="sidebar-brand">
                <a ui-sref="contact">
                    CONTACT
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="https://www.facebook.com/grabbingclouds/" target="_blank">
                    <span class="ion-social-facebook-outline"></span>
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="https://twitter.com/grabbingclouds?lang=en" target="_blank">
                    <span class="ion-social-twitter-outline"></span>
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="https://www.instagram.com/grabbingclouds/" target="_blank">
                    <span class="ion-social-instagram-outline"></span>
                </a>
            </li>
        </ul>
    </div> <!-- end sidebar-wrapper -->
<div id="page-content-wrapper"> 
<section class="carousel">
    <div uib-carousel active="active" interval="landing.myInterval" no-wrap="false" no-pause="true">
        <div uib-slide ng-repeat="slide in landing.slides track by slide.id" index="slide.id">
                <a ui-sref="album({data:slide.url})">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h1 class="carousel-title">{{slide.title}}</h1>
                    <h2 class="carousel-text">{{slide.text}}</h2>
                </div>
            </a> 
        </div>
    </div> 
</section>
<section class="email-signup">
     <section class="email-container container clearfix">
        <div class="email-div-left">
            <h2 class="newsletter-copy">Sign up for the newsletter:</h2>
        </div>
        <div class="email-div-right">
            <input type="text" class="input" ng-model="emailAddress" placeholder="your email address" onfocus="this.placeholder=''" onblur="placeholder='your email address'">
            <button class="add-email" type="submit" name="submit" ng-click="landing.newEmail.addEmail(emailAddress)">
		      <span class="ion-ios-arrow-forward"></span>
            </button>
        </div>
    </section>
</section>
<section class="body-background">
    <section class="container clearfix">
       <h1 class="new-releases">Latest Releases</h1>
        <div ng-repeat="album in landing.albums | orderBy:'index':reverse=true" class="left-div column half">
            <a ui-sref="album({data:album.url})" class="anchor">
                        <img ng-src="{{album.image}}" class="left-div-image">
                    <h3 class="band-name">{{album.both}}</h3>
                    <p class="buy-listen">Listen / buy</p>
            </a>
        </div>
    </section>
    <section class="footer container">
        <section class="footer-style">
            <ul>
                <li class="footer-home"><a ng-click="landing.gotoTop()">HOME</a></li>
                <li><a ui-sref="news">NEWS</a></li>
                <li class="footer-releases"><a ui-sref="releases">RELEASES</a></li>
                <li class="footer-shop"><a href="https://grabbingclouds.bandcamp.com/merch" target="_blank">SHOP</a></li>
                <li class="footer-contact" style="border:none;"><a ui-sref="contact">CONTACT</a></li>
            </ul>
            <p class="copyright">&copy; 2017 Grabbing Clouds</p>
        </section>
    </section>
</section>
</div> <!-- end page-content-wrapper -->    
</div> <!-- end wrapper -->       