<section class="carousel"></section>
<section class="body-background">
    <section ng-repeat="news in news.news | orderBy:'index':reverse=true" class="container clearfix">
        <div class="news-left">
            <h1 class="news-date">{{news.date}}</h1>
            <p class="news-news">{{news.copy}}</p>
        </div>
        <div class="news-image">
            <img src="{{news.image}}">
        </div>
        <div class="news-bottom">
        </div>
    </section>
    <section class="footer container">
        <section class="footer-style">
            <ul>
                <li><a ui-sref="landing">HOME</a></li>
                <li><a ng-click="news.gotoTop()">NEWS</a></li>
                <li><a ui-sref="releases">RELEASES</a></li>
                <li><a>SHOP</a></li>
                <li style="border:none;"><a ui-sref="contact">CONTACT</a></li>
            </ul>
            <p class="copyright">&copy; 2017 Grabbing Clouds</p>
        </section>
    </section>
</section>