<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a ui-sref="news">
                    NEWS
                </a>
            </li>
            <li class="sidebar-brand">
                <a ui-sref="releases">
                    RELEASES
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="#">
                    SHOP
                </a>
            </li>
            <li class="sidebar-brand">
                <a ui-sref="contact">
                    CONTACT
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="#">
                    <span class="ion-social-facebook-outline"></span>
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="#">
                    <span class="ion-social-twitter-outline"></span>
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="#">
                    <span class="ion-social-instagram-outline"></span>
                </a>
            </li>
        </ul>
    </div> <!-- end sidebar-wrapper -->
<div id="page-content-wrapper">
<section class="body-background">
    <section class="container clearfix">
        <div ng-repeat="album in releases.albums | orderBy:'index':reverse=true" class="left-div column half">
            <a ui-sref="album({data:album.index})">
                <div class="show-info">    
                    <img ng-src="{{album.image}}" class="left-div-image">
                    <div class="overlay">
                       <h1 class="band-name-hover-band">{{ album.band }}</h1>
                        <h2 class="band-name-hover-album">{{ album.title }}</h2>
                    </div>
                </div> 
            </a>
        </div>
    </section>
    <section class="footer container">
        <section class="footer-style">
            <ul>
                <li class="footer-home"><a ui-sref="landing">HOME</a></li>
                <li><a ui-sref="news">NEWS</a></li>
                <li class="footer-releases"><a ui-sref="releases">RELEASES</a></li>
                <li class="footer-shop"><a>SHOP</a></li>
                <li class="footer-contact" style="border:none;"><a ui-sref="contact">CONTACT</a></li>
            </ul>
            <p class="copyright">&copy; 2017 Grabbing Clouds</p>
        </section>
    </section>
</section>
</div> <!-- end page-content-wrapper -->    
</div> <!-- end wrapper -->        